.HomePage {
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar {
  background-color: brown;
}

.cerrar_sesion:hover {
  color: white;
}

@-webkit-keyframes anima1 {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 0;
    left: calc(100% - 20px);
  }

  50% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  75% {
    top: calc(100% - 20px);
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes anima1 {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 0;
    left: calc(100% - 20px);
  }

  50% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  75% {
    top: calc(100% - 20px);
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes anima2 {
  0% {
    top: 0;
    left: calc(100% - 20px);
  }

  25% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  50% {
    top: calc(100% - 20px);
    left: 0;
  }

  75% {
    top: 0;
    left: 0;
  }

  100% {
    top: 0;
    left: calc(100% - 20px);
  }
}

@keyframes anima2 {
  0% {
    top: 0;
    left: calc(100% - 20px);
  }

  25% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  50% {
    top: calc(100% - 20px);
    left: 0;
  }

  75% {
    top: 0;
    left: 0;
  }

  100% {
    top: 0;
    left: calc(100% - 20px);
  }
}

@-webkit-keyframes anima3 {
  0% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  25% {
    top: calc(100% - 20px);
    left: 0;
  }

  50% {
    top: 0;
    left: 0;
  }

  75% {
    top: 0;
    left: calc(100% - 20px);
  }

  100% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }
}

@keyframes anima3 {
  0% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  25% {
    top: calc(100% - 20px);
    left: 0;
  }

  50% {
    top: 0;
    left: 0;
  }

  75% {
    top: 0;
    left: calc(100% - 20px);
  }

  100% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }
}

@-webkit-keyframes anima4 {
  0% {
    top: calc(100% - 20px);
    left: 0;
  }

  25% {
    top: 0;
    left: 0;
  }

  50% {
    top: 0;
    left: calc(100% - 20px);
  }

  75% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  100% {
    top: calc(100% - 20px);
    left: 0;
  }
}

@keyframes anima4 {
  0% {
    top: calc(100% - 20px);
    left: 0;
  }

  25% {
    top: 0;
    left: 0;
  }

  50% {
    top: 0;
    left: calc(100% - 20px);
  }

  75% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }

  100% {
    top: calc(100% - 20px);
    left: 0;
  }
}

.container {
  height: 60px;
  width: 60px;
  margin: 200px auto;
  position: relative;
}

.item {
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.item:nth-child(1) {
  background-color: brown;
  top: 0;
  left: 0;
  -webkit-animation: anima1 2s ease infinite;
          animation: anima1 2s ease infinite;
}

.item:nth-child(2) {
  background-color: cornflowerblue;
  top: 0;
  right: 0;
  -webkit-animation: anima2 2s ease infinite;
          animation: anima2 2s ease infinite;
}

.item:nth-child(3) {
  background-color: darkolivegreen;
  bottom: 0;
  left: 0;
  -webkit-animation: anima3 2s ease infinite;
          animation: anima3 2s ease infinite;
}

.item:nth-child(4) {
  background-color: coral;
  bottom: 0;
  right: 0;
  -webkit-animation: anima4 2s ease infinite;
          animation: anima4 2s ease infinite;
}

.loader-insta {
  display: none;
}

.loader-insta-sub {
  position: absolute;
  z-index: 999999999999999;
  top: 22%;
  left: 50%;
}

.loader-back {
  background: #0000009c;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
}

.contenedor-home {
  position: absolute;
  z-index: 999999999;
}

.map {
  width: 103%;
}

.vina-modal {
  display: none;
}

.vina-modal-dialog {
  width: 95%;
  margin-top: 2%;
}

.vina-hr {
  color: black;
}

.vina-listar-bombas {
  cursor: pointer;
}

.vina-title-table {
  color: black;
  padding-left: 3%;
}

.vina-th1 {
  text-align: center;
}

.vina-bomb-desc {
  color: #a0a0a0 !important;
}

.vina-alarmas-title {
  color: black;
  padding-left: 3%;
}

.vina-row-rpm {
  padding-top: 20px;
}

.vina-parametro-unidad {
  text-align: center;
}

.vina-parametro-unidad {
  padding-top: 10px;
}

.vina-btn-parametro {
  margin-top: -6px;
}

.vina-BotonExportarPHDiarios {
  text-align: center;
  padding-top: 20px;
  display: none;
}

.vina-DescargarExcelFlujosDiarios-padre {
  text-align: center;
  padding-top: 20px;
}

.dtp {
  z-index: 999999999;
}

.swal-overlay {
  z-index: 99999999999;
}

.noUi-base {
  margin-top: 6px;
}

.vina-vina-loadingg {
  width: 35px;
  height: 35px;
  border-radius: 150px;
  border: 6px solid #797979;
  border-top-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 72px;
  left: 64%;
  margin-top: -80px;
  margin-left: -80px;
  animation: vina-loading 1.2s linear infinite;
  -webkit-animation: vina-loading 1.2s linear infinite;
  z-index: 1;
  display: none;
}

.vina-vina-loadingPH {
  width: 35px;
  height: 35px;
  border-radius: 150px;
  border: 6px solid #797979;
  border-top-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 90%;
  left: 50%;
  animation: vina-loading 1.2s linear infinite;
  -webkit-animation: vina-loading 1.2s linear infinite;
  z-index: 1;
}

@keyframes vina-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes vina-loading {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.btncasc3,
.btncasc4 {
  display: none;
}

.img-chart-lfe {
  width: 95%;
}

.vina-cargando {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

#rpm-0 canvas,
#rpm-1 canvas,
#rpm-2 canvas,
#rpm-3 canvas,
#rpm-4 canvas,
#rpm-5 canvas,
#myChart1,
#myChart2,
#myChart3,
#myChart4,
#myChart5,
#myChart6 {
  display: none;
}

#gauge0,
#gauge1,
#gauge2,
#gauge3,
#gauge4,
#gauge5 {
  cursor: pointer;
}

.img-rpm-lfe {
  margin-bottom: -12px;
}

.vina-btn_error_custom {
  padding: 2px 12px;
}

.vina-ico_error_custom {
  font-size: 15px;
}

.vina-custom-error {
  font-size: 10px;
}

.vina-circle-custom {
  width: 20px;
  height: 20px;
}

.vina-circle-custom i {
  font-size: 13px !important;
  left: -6.5px !important;
  top: -11px !important;
}

.vina-vertical {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
}

.chart-lfe {
  margin-top: -30px;
}

.vina-btn-bomba {
  color: #2b982b;
  font-size: 13px;
}

.vina-boton-bombas {
  width: 9px;
  height: 16px;
}

.vina-tabla-titulo {
  background: #cccccc;
  border: 1px solid #cccccc;
  border-bottom: 0;
  text-align: center;
  font-weight: 600;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.vina-nombre-instalacion {
  text-align: left;
}

.vina-modal-table1 tbody tr th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 10px !important;
  text-align: left;
}

.vina-modal-table1 tbody tr td {
  text-align: center;
  padding: 0px !important;
}

.vina-table-bordered tbody tr td,
.vina-table-bordered tbody tr th {
  font-size: 13px;
  border-color: #cccccc;
}

.vina-table tbody tr td,
.vina-table tbody tr th {
  padding: 5px;
}

.vina-table-custom table {
  font-size: 13px;
}

.vina-loading {
  width: 35px;
  height: 35px;
  border-radius: 150px;
  border: 6px solid #797979;
  border-top-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 99%;
  left: 76%;
  margin-top: -80px;
  margin-left: -80px;
  animation: vina-loading 1.2s linear infinite;
  -webkit-animation: vina-loading 1.2s linear infinite;
  z-index: 1;
}

.vina-loading-bomba {
  width: 35px;
  height: 35px;
  border-radius: 150px;
  border: 6px solid #797979;
  border-top-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 89%;
  left: 54%;
  margin-top: -80px;
  margin-left: -80px;
  animation: vina-loading 1.2s linear infinite;
  -webkit-animation: vina-loading 1.2s linear infinite;
  z-index: 1;
}

@keyframes vina-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes vina-loading {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.vina-noUi-handle {
  left: 97% !important;
}

.vina-noUi-connect {
  display: none !important;
}

.sicut-tabla-titulo {
  background: #cccccc;
  border: 1px solid #cccccc;
  border-bottom: 0;
  text-align: center;
  font-weight: 600;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sicut-nombre-instalacion {
  text-align: left;
}

.sicut-modal-table1 {
  border: #5a5a5a;
}

.sicut-modal-table1 tbody tr th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 10px !important;
  text-align: left;
}

.sicut-modal-table1 tbody tr td {
  text-align: center;
  padding: 0px !important;
}

.sicut-table-bordered tbody tr td,
.sicut-table-bordered tbody tr th {
  font-size: 13px;
  border-color: #cccccc;
}

.sicut-loading {
  width: 35px;
  height: 35px;
  border-radius: 150px;
  border: 6px solid #797979;
  border-top-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  left: 64%;
  margin-top: -80px;
  margin-left: -80px;
  animation: sicut-loading 1.2s linear infinite;
  -webkit-animation: sicut-loading 1.2s linear infinite;
  z-index: 1;
}

@keyframes sicut-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sicut-loading {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.sicut-modal {
  width: 95%;
}

.sicut-btn-modal {
  display: none;
}

.sicut-hr {
  color: black;
}

.sicut-th {
  font-weight: 300;
}

.sicut-row2 {
  padding-top: 30px;
}

.sicut-row-chart-2 {
  margin-right: 20px;
  margin-left: 20px;
}

#sicut-pie-chart {
  position: absolute;
}

#sicut-myChart3 {
  position: absolute;
  margin-left: -4%;
}

